@{
    Layout = null;
    string mesaj = "";
    if (TempData["mesaj"]!=null)
    {
        mesaj = TempData["mesaj"].ToString();
    }
}



<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="css/mdb.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="css/style.css" rel="stylesheet">


        <!--script goes here...-->

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>

        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="js/fontawesome-all.min.js" defer></script>
        <link href="~/Content/StyleSheet1.css" rel="stylesheet" />*@

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>

    <style>
        #mesajcikar{
            text-align:center;
            color:red;
            border:2px;
            background-color:paleturquoise;
            margin-left:400px;
            margin-right:400px;
        }
    </style>
</head>
<body>
    
    <form action="/Giris/Giris" method="post">
        <div id="mesajcikar">@mesaj</div>

        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">

                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" id="YONETICI_ADI" class="form-control" name="YONETICI_ADI" />
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Kullanıcı Adı</label>
                        </div>

                        <div class="md-form mb-4">

                            <i class="fas fa-lock prefix grey-text"></i>
                            <input type="password" id="PAROLA" class="form-control" name="PAROLA">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Parola</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default" type="submit">Giriş</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">
                Giriş İçin Tıklayınız!
            </a>
        </div>
    </form>


</body>
</html>
